<template>
    <div>
        <component :is="component" @change="onChange" v-bind="datas"></component>
    </div>
</template>

<script>
    export default {
        name: "Field",
        props: {
            value: String,
            name: String,
            component: String
        },
        computed: {
            datas: function () {
                return {...this.$props, ...this.$attrs}
            }
        },
        methods: {
            onChange: function({target}) {
                return this.handleChange({
                    name: this.name,
                    value: target.value
                });
            }
        },
        inject: ["handleChange"]
    }
</script>

<style scoped>

</style>