<template>
    <div>
        <slot></slot>
        <button v-on:click.prevent="handleSubmit">Submit</button>
    </div>
</template>

<script>
    export default {
        name: "Form",
        props: {
            initialValue: Object,
            onSubmit: Function
        },
        methods: {
            handleChange: function({name, value}) {
                this[name] = value;
            },
            handleSubmit: function() {
                this.onSubmit({...this.$data});
            }
        },
        data: function() {
            return {...this.initialValue}
        },
        provide: function(){
            return {
                handleChange: this.handleChange
            }
        }
    }
</script>

<style scoped>

</style>